/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: Calibrio, sans-serif !default;

// colors
$zib-blue: #000099;

// headings
$presentation-h1-font-size: 2em;
$presentation-heading-color: $zib-blue !default;